body {
    padding-top: 0;
}

.masthead {
    background-image: url('../files/banner-pic.jpg');
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
}

/*Masthead animation*/
.down-arrow {
    position: absolute;
    top: 90vh;
    left: 50vw;
    width: 30px;
    height: 30px;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    border-radius: 4px;
    transform: rotateZ(45deg);
    animation: jumpInfinite 1.5s infinite;
}

.scroll-text {
    position: absolute;
    top: 89vh;
    left: 50.8vw;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    animation: jumpInfinite 1.5s infinite;
}

@keyframes jumpInfinite {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 40px;
    }
    100% {
        margin-top: 0;
    }
}

@media screen
and (max-width: 700px) {
    .carousel-item .carousel-caption {
        max-height: 60px;
        padding-top: 4px
    }

    .carousel-item .carousel-caption p {
        font-size: 10px;
    }

    .carousel-item .carousel-caption h5 {
        font-size: 15px;
    }
}

#about {
    padding: 2rem 0;
}

.abt-btn {
    transition: transform .4s ease;
    padding: 1.25rem 2.5rem;
    margin-inline: .75rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 25px;
    width: 13rem;
}

.abt-btn:hover {
    transform: scale(1.2);
}

#skills {
    padding: 2rem 0;
}

#skills ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90vw;
    position: relative;
    z-index: 10;
}

#skills li {
    transition: transform 0.5s ease;
    margin: 1rem;
    font-size: 1rem;
    align-items: center;
}

#skills li:hover {
    transform: scale(1.5);
}


#projects {
    height: 100vh;
    padding: 2rem 0;
}

.project {
    padding: 2rem 0;
}

.project .btn {
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

@media (max-width: 992px) {
    #social1 {
        visibility: hidden;
        height: 0 !important;
        margin-top: 0 !important;
    }

    .project h2 {
        padding-top: 1rem;
    }

    #skills iconify-icon {
        font-size: 4rem;
    }

    #skills p {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    #social2 {
        visibility: hidden;
    }

    #skills iconify-icon {
        font-size: 6rem;
    }

    #skills p {
        font-size: 1.5rem;
    }

    section {
        min-height: 100vh;
    }
}
